/* App.css */
body {
  background-color: #1f497d;
  /* Dark blue background */
  color: #fff;
  /* White text color */
}

.app-container {
  padding: 15px;
}

.plyr_logo {
  width: 20vh;
  height: 20vh;
}

.plyr_cont {
  display: flex;
}

.ipl_logo {
  width: 6vh;
  height: 6vh;
  position: relative;
  top: 0px;
  margin-right: 10px;
}

.team1 {
  width: 7vh;
}

.team2 {
  width: 7vh;
}

.plyrNum {
  margin: 2vh;

}

.plyr_btn {
  margin-left: 10px;
  background-color: #0072dc;
  border: 1px solid black;
}

.nav_cont {
  padding: 0px 5px 11px 10px;
  background-color: cornflowerblue;
  display: flex;
}

.bet_btn {
  background-color: #0072dc;
  border: 1px solid black;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 30px;
  color: black;
}

img {
  max-width: 100%;
}

.body-container {
  display: flex;
  justify-content: space-between;
}

section {
  margin-bottom: 20px;
}

button {
  background-color: #fff;
  color: #1f497d;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #ccc;
}

/* Styling for text inputs */
input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

input[type="text"]:focus {
  outline: none;
  border-color: #66afe9;
}

input[type="number"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

input[type="number"]:focus {
  outline: none;
  border-color: #66afe9;
}

button {
  background-color: #1f497d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #336699;
}